# Environment & secrets
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Logs
logs/
*.log

# Docker volumes
redis_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Json files

chatbot.pub
wsgi_test.txt

chatbot/data/promotions.json

